<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/resources/images/ic_directions_bike_grey600_24dp.png" type="image/png" sizes="24x24">
  <title>BikeParkingFinder</title>

<body>
    <div id="app">

      <nav class="navbar" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">
          <div class="navbar-item">
              <img src="/resources/images/ic_directions_bike_grey600_24dp.png" alt="Bike Parking Finder logo" width="48" height="48">
          </div>
        </div>

        <div class="navbar-menu">

          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                {{ $t("Menu") }}
              </a>
              <div class="navbar-dropdown">
                  <div class="navbar-item">
                      {{ $t("Radius_of_research") }}
                      <div class="field">
                          <div class="control">
                              <input type="range" name="radius" value=350 min=10 max=1000 v-model="radius">
                          </div>
                      </div>

                      {{radius}}
                  </div>
              </div>

            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                {{ $t("Languages") }}
              </a>

              <div class="navbar-dropdown">
                  <locale_selector v-for="current_locale in Object.keys($i18n.messages)" :current_locale="current_locale" :global_locale="$i18n.locale" @update_locale="on_locale_updated"></locale_selector>
              </div>
            </div>
          </div>

        </div>
      </nav>


      <l-map ref="map" :zoom=13 :center="center" @click="get_bike_parking">
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
          <l-marker :lat-lng="bike_position" :icon="bike_icon"></l-marker>
          <l-circle :lat-lng="bike_position" :radius="radius"></l-circle>
          <l-marker v-for="bike_parking_place in bike_parking_places" :lat-lng="get_location(bike_parking_place)">
                  <l-popup>
                      <div>{{ $t("name")}}: {{bike_parking_place.name}}</div><br>
                      <div>{{ $t("capacity") }}: {{bike_parking_place.capacity}}</div>
                  </l-popup>
          </l-marker>

      </l-map>

    </div>

  <script src="resources/index.js"></script>
</body>
</html>
