<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bike Parking Montreal</title>
        <link rel="stylesheet" href="resources/leaflet.css" />
        <script src="resources/leaflet.js"></script>
        <link rel="stylesheet" href="resources/bootstrap-3.3.5-dist/css/bootstrap.min.css">
        <script src="resources/jquery-2.1.4.min.js"></script>
        <script src="resources/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="resources/style.css">
        <script src="resources/map_icons.js"></script>
        <script>


            $("document").ready(function(){

                var currentPosition = [45.5077, -73.544];
                var accuracy = 8
				var markers = new L.FeatureGroup();


                function showPosition(position)
                {
					
                    if(position)
                        currentPosition = [position.coords.latitude, position.coords.longitude];
                    mymap.setView(currentPosition, 17)
                    var marker = L.marker(currentPosition, {icon: bikeIcon}).addTo(mymap)
                        .bindPopup('Your position')
                        .openPopup();
                        
                    markers.addLayer(marker);

                    var circle = L.circle(currentPosition, 350, {
                        color: 'red',
                        fillColor: '#f03',
                        fillOpacity: 0.25
                    }).addTo(mymap);
                    
                    circle.on('dblclick', function(e) {	
					var position = {'coords': {'latitude': e.latlng.lat,
										  'longitude': e.latlng.lng}};	
						markers.clearLayers();
						showPosition(position);
					});
                    
                    markers.addLayer(circle);
                    
                    accuracy = position.coords.accuracy
                    
                    $.getJSON( "/bike_parking/geolocation?coord=["+currentPosition+"]", function( positions ) {
					  
					  $.each(positions, function( index, value ) {
						  var marker = L.marker(value["coord"]).addTo(mymap)
						   .bindPopup('Bike Parking<br><button class="btn btn-default removeBikeParking" id="'+value["id"]+'">Remove this parking</button>');
							markers.addLayer(marker);
							
						
							
						});

					   });
                   });
                }

                function getLocation() {

                    if (navigator.geolocation) {

                       navigator.geolocation.getCurrentPosition(showPosition, function(error) {
                            alert('position not available for the moment.');
                            showPosition();
                        },{timeout:5000});
                    } else {
                        alert("Geolocation is not supported by this browser.");

                    }
                }

                var mymap = L.map('mapid').setView(currentPosition, 15);
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(mymap);

				mymap.addLayer(markers);
                getLocation();

               
                mymap.on('dblclick', function(e) {	
					var position = {'coords': {'latitude': e.latlng.lat,
									  'longitude': e.latlng.lng,
									  'accuracy': 8.0}};	
					markers.clearLayers();
					showPosition(position);
				});
				
				$("#showall").click(function(){
					$.getJSON( "/bike_parking/all_locations", function( positions ) {

					  $.each(positions, function( index, value ) {
						  var marker = L.marker(value["coord"]).addTo(mymap)
						   .bindPopup('Bike Parking');
							markers.addLayer(marker);
					   });
                   });
					
				});
				
				$("#addNew").click(function(){
					
					var capacity = $("#capacity").val();
					$.getJSON( "/bike_parking/add_bike_parking?coord=["+currentPosition+"]"+"&radius="+accuracy+"&capacity"+capacity, function( position ) {
						alert(position);
					
                   });
					
				});
				
				
                 $(".removeBikeParking").click(function(){
				var id = $(this).attr('id');
				$.getJSON( "/bike_parking/remove_bike_parking?id="+id, function( position ) {
					alert(position);
				
			   });
                     
             
                

            });

        </script>

    </head>
    <body>
         <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">BikeParkingMontreal</a>
            </div>
             <ul class="nav navbar-nav">			  
			  <li><a href="#" id="showall">{{_("Show all parking")}}</a></li>		
			  <li><a href="#" data-toggle="modal" data-target="#addBikeParkingModal" >Add new parking</a></li>			  	  
			</ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-leaf"></span> Langages
                  <span class="caret"></span> </a>
                  <ul class="dropdown-menu">
                      <li><a href="#">English</a></li>
                      <li><a href="#">Français</a></li>
                  </ul>
              </li>
            </ul>
          </div>
        </nav>

        <div class="container">
          <div id="mapid"></div>

        </div>
        
        <!--Add Bike Parking Modal -->
		<div id="addBikeParkingModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add new bike parking</h4>
			  </div>
			  <div class="modal-body">
				<form role="form">
					<div class="form-group">
					<label for="capacity">Capacity: </label>
					<input type="number" class="form-control" id="capacity" min="1" value="1">
				  </div>
				  <button type="submit" class="btn btn-default" id="addNew">Add</button>
				</form>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  </div>
			</div>
			
		  </div>
		</div>
        

    </body>
</html>
