<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Bike Parking Montreal</title>
        <link rel="stylesheet" href="resources/leaflet.css" />
        <script src="resources/leaflet.js"></script>
        <link rel="stylesheet" href="resources/bootstrap-3.3.5-dist/css/bootstrap.min.css">
        <script src="resources/jquery-2.1.4.min.js"></script>
        <script src="resources/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="resources/style.css">
        <script src="resources/map_icons.js"></script>
        <script src="resources/js.cookie.js"></script>
        <link rel="icon" href="resources/images/bike_icon.png">
       
        <script>


            $("document").ready(function(){

                var currentPosition = [45.5077, -73.544];
                var accuracy = 1000.0;
				var markers = new L.FeatureGroup();
				
				var locale = Cookies.get('locale');
				if(locale == undefined)
					locale = "fr";
					
				$("#"+locale).addClass("glyphicon glyphicon-ok");


                function showPosition(position)
                {
					
                    if(position)
                    {
                        currentPosition = [position.coords.latitude, position.coords.longitude];
                        accuracy = position.coords.accuracy/2;
					}
                    mymap.setView(currentPosition, 17)
                    var marker = L.marker(currentPosition, {icon: bikeIcon}).addTo(mymap)
                        .bindPopup('{{_("Your position")}}<br>{{_("Gps accuracy")}}:'+accuracy)
                        .openPopup();
                       
                       
                   
                    markers.addLayer(marker);

                    var circle = L.circle(currentPosition, 350, {
                        color: 'blue',
                        fillColor: '#03f',
                        fillOpacity: 0.20
                    }).addTo(mymap);
                    
                    circle.on('dblclick', function(e) {	
					var position = {'coords': {'latitude': e.latlng.lat,
										  'longitude': e.latlng.lng}};	
						markers.clearLayers();
						showPosition(position);
					});
					
					markers.addLayer(circle);
					
					if(accuracy > 0.0)
					{
						var circleAcc = L.circle(currentPosition, accuracy, {
							color: 'green',
							fillColor: '#0f0s',
							fillOpacity: 0.35
						}).addTo(mymap);
						
						markers.addLayer(circleAcc);
					}
                    
                    
                    $.getJSON( "/bike_parking/geolocation?coord=["+currentPosition+"]", function( positions ) {
					  
					  $.each(positions, function( index, value ) {
						  var marker = L.marker(value["coord"]).addTo(mymap)
						   .bindPopup('{{_("Bike Parking")}}<br><button class="btn btn-default removeBikeParking" id="'+value["id"]+'">{{_("Remove this parking")}}</button>');
							markers.addLayer(marker);
							
							$(document).on("click", "#"+value["id"], function(){
								var id = $(this).attr('id');
								formData = "id="+id;
								$.post( "/bike_parking/remove_bike_parking", formData, function( position ) {
									$(".leaflet-popup-close-button")[0].click();
								
								});
							});
							
						});

					   });                   
                }

                function getLocation() {

                    if (navigator.geolocation) {

                       navigator.geolocation.getCurrentPosition(showPosition, function(error) {
                            alert('position not available for the moment.');
                            showPosition();
                        },{timeout:5000});
                    } else {
                        alert("Geolocation is not supported by this browser.");

                    }
                }

                var mymap = L.map('mapid').setView(currentPosition, 15);
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(mymap);

				mymap.addLayer(markers);
                getLocation();

               
                mymap.on('dblclick', function(e) {	
					var position = {'coords': {'latitude': e.latlng.lat,
									  'longitude': e.latlng.lng,
									  'accuracy': 0.0}};	
					markers.clearLayers();
					showPosition(position);
				});
				
				$("#showall").click(function(){
					$.getJSON( "/bike_parking/all_locations", function( positions ) {

					  $.each(positions, function( index, value ) {
						  var marker = L.marker(value["coord"]).addTo(mymap)
						   .bindPopup('Bike Parking');
							markers.addLayer(marker);
					   });
                   });
					
				});
				
				$("#addNew").click(function(){
					
					var capacity = $("#capacity").val();
					formData = "coord="+currentPosition+"&radius="+accuracy+"&capacity="+capacity;
					
					$.post("/bike_parking/add_bike_parking", formData).done(
						function(data){
							var obj = jQuery.parseJSON(data);
						}
					);
						
					 $('#addBikeParkingModal').modal('hide');
				});    
				
				$("form").on("submit", function (e) {
				e.preventDefault();  
				});
            });

        </script>

    </head>
    <body>
         <nav class="navbar navbar-inverse">
          <div class="container-fluid">
			  
            <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			  </button>
			  
              <a class="navbar-brand" href="#"> <img src="resources/images/bike_icon.png" width="24px" style="float: left; padding-right: 5px;"/>BikeParkingMontreal v{{version}}</a>
            </div>
            
            <div class="collapse navbar-collapse" id="myNavbar">
				 <ul class="nav navbar-nav">	
				  <li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions<span class="caret"></span> </a>
					  <ul class="dropdown-menu">
						  <li><a href="#" id="showall">{{_("Show all parking")}}</a></li>		
						  <li><a href="#" data-toggle="modal" data-target="#addBikeParkingModal" >{{_("Add new parking")}}</a></li>	
					  </ul>
				  </li>	  	  
				</ul>

				<ul class="nav navbar-nav navbar-right">
				  <li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-leaf"></span> {{_("Languages")}}
					  <span class="caret"></span> </a>
					  <ul class="dropdown-menu">
						  <li><a href="/locale/en"><span id="en"></span> English</a></li>
						  <li><a href="/locale/fr"><span id="fr"></span> Français</a></li>
					  </ul>
				  </li>
				</ul>
			</div>
          </div>
        </nav>

        <div class="container">
          <div id="mapid"></div>
          <div id="ad">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- BikeParkingMontreal -->
				<ins class="adsbygoogle"
					 style="display:inline-block;width:320px;height:100px"
					 data-ad-client="ca-pub-4016067006669823"
					 data-ad-slot="6586112445"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
        </div>
        
        <!--Add Bike Parking Modal -->
		<div id="addBikeParkingModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{_("Add new bike parking")}}</h4>
			  </div>
			  <div class="modal-body">
				<form role="form">
					<div class="form-group">
					<label for="capacity">{{_("Capacity:")}} </label>
					<input type="number" class="form-control" id="capacity" min="1" value="1">
				  </div>
				  <button type="submit" class="btn btn-default" id="addNew">{{_("Add")}}</button>
				</form>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{_("Close")}}</button>
			  </div>
			</div>
			
		  </div>
		</div>
        

    </body>
</html>
